.projects {
  display: flex;
}

.imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
}

.project {
  width: 380px;
  border: 5px solid white;
  margin: 10px 50px;
}

/* Media Queries */
@media screen and (max-width : 768px){
  .project{
    width: 35vw;
  }
}

@media screen and (max-width : 450px){
  .project{
    width:50vw;
  }
}